body {
	background-color: black;
}

.page {
	font-family: 'Inter', Arial, sans-serif;
	max-width: 1280px;
	margin: 0 auto;
}

.header {
	max-width: 880px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.header__logo {
	width: 142px;
	height: 33px;
	padding: 45px 0 41px;
}

.header__line {
	max-width: 880px;
	opacity: 0.7;
	border: 1px solid #545454;
}

.profile {
	margin: 36px auto 47px;
	max-width: 880px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile__info {
	display: flex;
}

.profile__into {
	padding-left: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 336px;
	column-gap: 16px;
	row-gap: 18px;
	align-items: center;
}

.profile__photo {
	border-radius: 50%;
	max-width: 120px;
}

.profile__name {
	color: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 48px;
	margin: 0;
}

.profile__text {
	color: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
}

.profile__edit {
	width: 24px;
	height: 24px;
	padding: 0;
	border: 1px solid #FFFFFF;
	background-color: black;
	background-image: url(./images/Vector1.svg);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.profile__edit:hover {
	opacity: 0.6;
}

.profile__button {
	background-color: black;
	background-image: url(./images/Vector2.svg);
	background-position: center;
	background-repeat: no-repeat;
	width: 150px;
	height: 50px;
	border: 2px solid #FFFFFF;
	border-radius: 2px;
	cursor: pointer;
}

.profile__button:hover {
	opacity: 0.6;
}

.elements {
	margin: 0 auto;
	max-width: 880px;
	display: grid;
	grid-template-columns: repeat(3, minmax(min-content, max-content));
	grid-template-rows: repeat(2, minmax(min-content, max-content));
	gap: 17px 20px;

}

.elements__item {
	max-width: 282px;
	display: flex;
	flex-direction: column;
}

.element__item_text {
	padding: 25px 15px 31px 21px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	max-width: 246px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	align-items: center;
}

.element__item_image {
	width: 100%;
	height: 282px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.element__item_name {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
}

.element__item_like {
	background-image: url(./images/like11.svg);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	width: 30px;
	height: 19px;
	border: 0;
	background-color: transparent;
}

.element__item_like:hover {
	opacity: 0.5;
}

.element__item_like:hover:active {
	background-image: url(./images/like_active.svg);
	opacity: 1;
}

.footer {
	margin: 0 auto;
	max-width: 880px;
	color: #545454;
	padding: 67px 0 60px 0;
}

.footer__copyright {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.popup {
	z-index: 5;
	position: fixed;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
}

.popup_open {
	display: flex;
}

.popup__content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 430px;
	height: 330px;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	color: #000000;
}

.popup__intro {
	max-width: 330px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	padding: 34px 0 54px;
	margin: 0;
}

.popup__input_name {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 27px;
	width: 358px;
	margin: 0;
	border: 0;
	padding: 0;
}

.popup__name {
	margin: 0;
}

.popup__line {
	max-width: 358px;
	opacity: 0.2;
	border: 1px solid #000000;
	margin-top: 13px;
}

.popup__line:nth-of-type(1) {
	margin-bottom: 30px;
}

.popup__input_text {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 27px;
	width: 358px;
	margin: 0;
	border: 0;
}

.popup__save {
	color: #FFFFFF;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	width: 358px;
	height: 50px;
	border-radius: 2px;
	cursor: pointer;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	margin-top: 24px;
	padding: 0;
}

.popup__save:hover {
	opacity: 0.8;
}

.popup__close {
	position: absolute;
	top: -35px;
	right: -35px;
	background-image: url(./images/Close\ Icon.svg);
	color: #FFFFFF;
	background-color: transparent;
	width: 32px;
	height: 32px;
	border: 0;
	cursor: pointer;
}

.popup__close:hover {
	opacity: 0.6;
}

@media screen and (max-width: 767px) {
	.popup__content {
		width: 282px;
		height: 322px;

	}
}

@media screen and (max-width: 767px) {
	.popup__intro {
		max-width: 238px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 900;
		font-size: 18px;
		line-height: 22px;
		padding: 25px 0 75px;
	}
}

@media screen and (max-width: 767px) {
	.popup__name {
		max-width: 238px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}
}

@media screen and (max-width: 767px) {
	.popup__text {
		max-width: 238px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}
}

@media screen and (max-width: 767px) {
	.popup__line {
		max-width: 238px;
	}
}

@media screen and (max-width: 767px) {
	.popup__save {
		width: 238px;
		height: 46px;
		margin-top: 45px;
	}
}

@media screen and (max-width: 767px) {
	.popup__close {
		background-image: url(./images/Close\ Icon1.svg);
		width: 20px;
		height: 20px;
		top: -35px;
		right: 0;
	}
}

@media screen and (max-width: 767px) {
	.page {
		width: 320px;
	}
}

@media screen and (max-width: 767px) {
	.header {
		max-width: 320px;
	}
}

@media screen and (max-width: 767px) {
	.header__logo {
		width: 104px;
		height: 24px;
		padding: 45px 0 32px 27px;
	}
}

@media screen and (max-width: 767px) {
	.header__line {
		max-width: 320px;
	}
}

@media screen and (max-width: 767px) {
	.profile {
		margin: 38px auto 36px;
		max-width: 320px;
		display: flex;
		flex-direction: column;
		justify-content: baseline;
	}
}

@media screen and (max-width: 767px) {
	.profile__info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 767px) {
	.profile__into {
		padding: 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 282px;
		column-gap: 10px;
		row-gap: 14px;
		align-items: center;
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.profile__photo {
		border-radius: 50%;
		max-width: 120px;
		max-height: 120px;
	}
}

@media screen and (max-width: 767px) {
	.profile__name {
		font-style: normal;
		font-weight: 500;
		font-size: 27px;
		line-height: 33px;
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.profile__text {
		color: white;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.profile__edit {
		width: 18px;
		height: 18px;
		padding: 0;
		border: 1px solid #FFFFFF;
		background-color: black;
		background-image: url(./images/Vector1.svg);
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
	}
}

@media screen and (max-width: 767px) {
	.profile__button {
		background-color: black;
		background-image: url(./images/Vector2.svg);
		background-position: center;
		background-repeat: no-repeat;
		width: 282px;
		height: 50px;
		border: 2px solid #FFFFFF;
		border-radius: 2px;
		cursor: pointer;
		padding: 0;
		margin-top: 36px;
	}
}

@media screen and (max-width: 767px) {
	.elements {
		margin: 0 auto;
		max-width: 282px;
		display: grid;
		grid-template-columns: repeat(1, minmax(min-content, max-content));
		grid-template-rows: repeat(6, minmax(min-content, max-content));
		gap: 20px 0;
	}
}

@media screen and (max-width: 767px) {
	.elements__item {
		max-width: 282px;
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 767px) {
	.element__item_text {
		padding: 25px 15px 31px 21px;
		background-color: white;
		display: flex;
		justify-content: space-between;
		max-width: 246px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}

@media screen and (max-width: 767px) {
	.element__item_image {
		width: 100%;
		height: 282px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

@media screen and (max-width: 767px) {
	.element__item_name {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 900;
		font-size: 24px;
		line-height: 29px;
		margin: 0;
	}

	@media screen and (max-width: 767px) {
		.element__item_like {
			background-image: url(./images/like11.svg);
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			width: 30px;
			height: 19px;
			border: 0;
		}
	}

	@media screen and (max-width: 767px) {
		.footer {
			margin: 0 auto;
			max-width: 282px;
			color: #545454;
			padding: 48px 0 36px 0;
		}
	}

	@media screen and (max-width: 767px) {
		.footer__copyright {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
		}
	}