.popup__line {
	max-width: 358px;
	opacity: 0.2;
	border: 1px solid #000000;
	margin-top: 8px;
}

.popup__line:nth-of-type(1) {
	margin-bottom: 22px;
}

@media screen and (max-width: 1000px) {
	.popup__line:nth-of-type(1) {
		margin-bottom: 18px;
	}
}

@media screen and (max-width: 1000px) {
	.popup__line {
		max-width: 238px;
		margin-top: 5px;
	}
}