.elements__like {
	background-image: url(../../../images/like11.svg);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	width: 30px;
	height: 19px;
	border: 0;
	background-color: transparent;
}

.elements__like:hover {
	opacity: 0.5;
}

.elements__like:hover:active {
	background-image: url(../../../images/like_active.svg);
	opacity: 1;
}

@media screen and (max-width: 1000px) {
	.elements__like {
		width: 22px;
		height: 19px;
		border: 0;
	}
}