.profile__subcontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 18px;
}

@media screen and (max-width: 1000px) {
    .profile__subcontent {
        max-width: 282px;
    }
}