.profile__info {
	padding-top: 20px;
	padding-left: 30px;
	display: flex;
	flex-wrap: wrap;
	max-width: 336px;
	min-height: 73px;

}

@media screen and (max-width: 1000px) {
	.profile__info {
		padding: 0;
		justify-content: center;
		width: 282px;
		height: 54px;
		column-gap: 10px;
		row-gap: 4px;
		text-align: center;
		padding-left: 0;
	}
}